@mixin btnActionPurForm {
  background: #7C3AED;
  border-radius: 8px;
  margin: 20px 0px;
  color: #FFFFFF;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

// Кнопка регистрации.
.btn-signup {
  background: #FFFFFF;
  color: #7C3AED;
  border: 1px solid #7C3AED;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: none;
  margin: 0px 10px;
}

// Кнопка регистрации (при наведении).
.btn-signup.p-button.p-button-help:hover {
  background: none;
  color: #7C3AED;
  border: 1px solid #7C3AED;
}

// Кнопка регистрации (при фокусе).
.btn-signup.p-button.p-button-help:focus {
  box-shadow: none;
}

// Кнопка авторизации.
.btn-signin {
  background: #7C3AED;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  margin: 0px 10px;
  font-weight: 600;
  font-size: 18px;
}

// Кнопка авторизации (при наведении).
.btn-signin.p-button.p-button-help:hover {
  background: #7C3AED;
  color: white;
}

// Кнопка авторизации (при фокусе).
.btn-signin.p-button.p-button-help:focus {
  box-shadow: none;
}

// Поля ввода для форм регистрации, авторизации и подобных.
.input-pur-form {
  width: 396px;
  background: #F2FEFE;
  border-radius: 6px;
  // color: #F2FEFE;
  margin: 8px 0px;
  height: 46px;
  border: none;

  &:focus {
    background: rgba(242, 254, 254, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
  }
}

// Кнопка на формах регистрации и тд.
.button-action-pur-form {
  width: 396px;
  height: 56px;
  @include btnActionPurForm();
}

.button-request {
  width: 243px;
  height: 50px;
  background: #7C3AED;
  border-radius: 8px;
  margin: 20px 0px;
  color: #FFFFFF;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

::ng-deep .mt-24 .p-button-link {
  padding: 0;
  margin-top: 24px;
}

::ng-deep .button-detail .p-button-link .p-button-label {
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #7C3AED;
}

.input-request {
  width: 267.18px;
  height: 32px;
  margin: 0 30px;
  border: none;
  border-bottom: 1px solid #C4C4C4;

  &:focus {
    box-shadow: none;
  }
}

.request-form {
  margin: 59px;
}

.input-message {
  width: 558.23px;
  height: 127px;
}

::ng-deep .button-mentor .p-button {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #087592;
  width: 210px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  margin-top: 54px;

  &:hover {
    background: #FFFFFF;
    color: #087592;
  }

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.btn-save {
  width: 168px;
  height: 50px;
  @include btnActionPurForm();
}

::ng-deep .btn-link-form .p-button-label {
  font-family: 'Gilroy-Bold';
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #81D0DF;
}