@font-face {
    font-family: "Stolzl";
    src: url("../assets/fonts/stolzl-bold.woff") format("woff");
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy-Bold";
    src: url("../assets/fonts/gil-bold.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy-Regular";
    src: url("../assets/fonts/gil-regular.woff") format("woff");
  }