<div class="">
    <div class="col-lg-12" [ngClass]="{ blockMenuMain: isBlockMenuMain, blockMenuProfile: isBlockMenuProfile }">
        <div class="d-flex align-items-center block-logo" [routerLink]="['/']">
          <div>
            <img src="../../../assets/images/Logo.png">
          </div>

          <div>
            <span class="title">Leoka Elementary</span>
            <br>
            <span class="sub-title">Образовательная платформа</span>
          </div>
        </div>

        <ul class="header-menu d-flex">
          <div *ngFor="let item of headerData$.value">
            <li class="header-menu-item">
              {{item.headerItem}}
            </li>
          </div>          
        </ul>
        
        <div>
          <button *ngIf="isVisibleButtonsAuth"
              pButton pRipple 
              type="button" 
              label="Регистрация" 
              class="p-button-raised p-button-help btn-signup"
              [routerLink]="['/user/signup']">
          </button>
          
          <button *ngIf="isVisibleButtonsAuth"
              pButton pRipple 
              type="button" 
              label="Вход" 
              class="p-button-raised p-button-help btn-signin"
              [routerLink]="['/user/signin']">
          </button>

          <div class="d-flex" *ngIf="isVisibleHeaderItems">
            <div *ngFor="let item of profileHeaderMenuItems">
              <img class="img-profile" *ngIf="!item.isDropdown" [src]="item.iconUrl">

              <!-- Выпадающее меню профиля. -->
              <div class="dropdown" *ngIf="item.isDropdown">
                <img class="img-profile" [src]="item.iconUrl" data-bs-toggle="dropdown">

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li *ngFor="let item of profileDropdownMenuItems">
                    <div class="dropdown-item d-flex">
                      <img class="dropdown-img" [src]="item.iconUrl">
                      <div>{{item.profileItemTitle}}</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>