<div class="">
    <div class="block-menu d-flex align-items-center justify-content-around text-center col-lg-12">
        <div class="d-flex align-items-center block-logo">
          <div>
            <img src="../../../assets/images/Logo.png">
          </div>

          <div>
            <span class="title">Leoka Elementary</span>
            <br>
            <span class="sub-title">Образовательная платформа</span>
          </div>
        </div>

        <ul class="header-menu d-flex">
            <li class="header-menu-item">
                О нас
            </li>

            <li class="header-menu-item">
                Учителя
            </li>

            <li class="header-menu-item">
                Тарифы
            </li>

            <li class="header-menu-item">
                Блог
            </li>

            <li class="header-menu-item">
                Курсы
            </li>
        </ul>
        
        <div>
            <button 
                pButton pRipple 
                type="button" 
                label="Регистрация" 
                class="p-button-raised p-button-help btn-signup">
            </button>
            
            <button 
                pButton pRipple 
                type="button" 
                label="Вход" 
                class="p-button-raised p-button-help btn-signin">
        </button>
        </div>
    </div>
</div>