@use "/src/styles/common.scss";
@use "/src/styles/control.scss";
@use "/src/styles/fonts.scss";

.block-menu {
  //   margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 70px;
  z-index: 2;
  position: absolute;

  .header-menu {
    list-style-type: none;
    // margin: 0 auto;
    margin: 0;

    .header-menu-item {
      margin: 0 10px;
      font-family: 'Gilroy-Bold';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #4C1D95;
      line-height: 22px;
      letter-spacing: 0.1px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .block-logo {
    text-align: start;
  }

  .title {
    margin: 0 10px;
    color: #7C3AED;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }

  .sub-title {
    margin: 0 10px;
    color: #7C3AED;
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1pt;
  }
}