<div class="col-lg-12 d-flex">
  <div class="col-lg-4">
    <profile-menu></profile-menu>
  </div>

  <form class="col-lg-8 text-pre-line" [formGroup]="profileForm">
    <!-- Блок информации о пользователе. -->
    <div class="block-user-info pt-20-pb-20 d-flex">
      <div class="col-lg-4">
        <img class="avatar rounded-circle" [src]="isNoPhoto ? avatarNoPhoto : avatarImage">

        <p-fileUpload 
            mode="basic" 
            name="demo[]" 
            accept="image/*" 
            chooseLabel="Загрузить" 
            class="profile-photo" 
            styleClass="p-button-link"
            formControlName="avatar"
            [multiple]="true"
            (onSelect)="onUploadAvatar($event)"
            [hidden]="!isEditAvatar">
        </p-fileUpload>

        <div>
          <p-button 
              label="Изменить" 
              styleClass="p-button-link"
              *ngIf="!isEditAvatar"
              (click)="onChangeAvatarState()">
          </p-button>

          <p-button 
              label="Сохранить" 
              styleClass="p-button-link"
              *ngIf="isEditAvatar"
              (click)="onChangeAvatarAsync()">
          </p-button>
        </div>
      </div>

      <div class="col-lg-8">      
        <span type="text" 
            placeholder="ФИО"            
            *ngIf="!isEditFio">
            {{userFio}}
        </span>
        <div>

          <input 
              type="text" 
              pInputText
              formControlName="fio"
              placeholder="ФИО"
              *ngIf="isEditFio"> 
        </div>

        <div>
          <p-button 
              label="Изменить" 
              styleClass="p-button-link"
              *ngIf="!isEditFio"
              (click)="onChangeFioState()">
          </p-button>

          <p-button 
              label="Сохранить" 
              styleClass="p-button-link"
              *ngIf="isEditFio"
              (click)="onChangeFioAsync()">
      </p-button>
        </div>
      </div>
    </div>

    <!-- Блок с контактами. -->
    <div class="block-contacts">
       <div class="d-flex">
        <div class="col-lg-4">
          <div class="">
            <p-checkbox 
                formControlName="checkedContact" 
                [binary]="true" 
                inputId="binary"
                *ngIf="!isEditContact"
                [disabled]="true"
                [(ngModel)]="profileWorksheet$.value.isVisibleAllContact">
          </p-checkbox>
            <label for="binary" class="visible-all" *ngIf="!isEditContact">Виден всем</label>

            <p-checkbox 
                formControlName="checkedContact" 
                [binary]="true" 
                inputId="binary"
                *ngIf="isEditContact"
                [(ngModel)]="profileWorksheet$.value.isVisibleAllContact">
          </p-checkbox>
            <label for="binary" class="visible-all" *ngIf="isEditContact">Виден всем</label>
          </div>          
        </div>

        <div class="col-lg-4">
          <span 
            *ngIf="!isEditContact">
            {{profileWorksheet$.value.phoneNumber}}
          </span>

          <input 
              type="text" 
              pInputText 
              formControlName="phoneNumber"
              placeholder="Номер телефона"
              *ngIf="isEditContact"
              [(ngModel)]="profileWorksheet$.value.phoneNumber"> 
        </div>

        <div class="col-lg-4">
          <span 
            *ngIf="!isEditContact">
            {{profileWorksheet$.value.email}}
          </span>

          <input 
              type="text" 
              pInputText
              formControlName="email"
              placeholder="Email"
              *ngIf="isEditContact"
              [(ngModel)]="profileWorksheet$.value.email"> 
        </div>   
       </div>     

        <div>
          <p-button 
              label="Изменить" 
              styleClass="p-button-link"
              *ngIf="!isEditContact"
              (click)="onChangeStateContacts()">
          </p-button>

          <p-button 
              label="Сохранить" 
              styleClass="p-button-link"
              *ngIf="isEditContact"
              (click)="onSaveContactsAsync()">
          </p-button>
        </div>
    </div>

    <!-- Блок с выпадающих списков. -->
    <div class="pt-20-pb-20 mt-20 block-user-info d-flex block-profile-dropdowns">
      <div class="col-lg-4">
        <div class="profile-title">
          <label>Предмет</label>
        </div>

        <!-- Добавленные предметы. -->
        <div *ngFor="let item of displaySelectedMentorProfileItems">
          {{item.itemName}}
        </div>

          <div *ngIf="isEdit">
              <p-dropdown [options]="profileItems$.value"
                          [(ngModel)]="selectedItem"
                          optionLabel="itemName"                          
                          placeholder="Ваш предмет"
                          formControlName="selectedItem">
              </p-dropdown>
          
            <div>
              <p-button 
                  label="Добавить" 
                  styleClass="p-button-link"
                  (click)="addMentorProfileItems()">
              </p-button>
            </div>
          </div>

          <div *ngIf="!isEdit">
            <div *ngFor="let item of profileWorksheet$.value.mentorItems">
              <div>
                {{item.itemName}}
              </div>
            </div>

            <p-button 
                label="Изменить" 
                styleClass="p-button-link">
            </p-button>
          </div>
      </div>

      <div class="col-lg-4">
        <div class="profile-title">
          <label>Цена занятий</label>
        </div>

        <div *ngIf="isEdit">
          <!-- Добавленные цены. -->
        <div *ngFor="let item of displayMentorPrices">
          {{item.price}} {{item.unit}}
        </div>

          <div>
            <input 
                type="text" 
                pInputText 
                placeholder="Напишите цену"
                formControlName="price"
                [(ngModel)]="selectedPrice"> 
          </div>

          <p-button 
                label="Добавить" 
                styleClass="p-button-link"
                (click)="addMentorPrices()">
          </p-button>
        </div>

          <div *ngIf="!isEdit">
            <div *ngFor="let item of profileWorksheet$.value.mentorPrices">
              <div>
                {{item.price}} {{item.unit}}
              </div>
            </div>

            <p-button 
                label="Изменить" 
                styleClass="p-button-link">
            </p-button>
          </div>          
      </div>

      <div class="col-lg-4">
        <div class="profile-title">
          <label>Длительность</label>
        </div>
        <div *ngIf="isEdit">
         
  
          <!-- Добавленные длительности. -->
          <div *ngFor="let item of displayMentorDurations">
            {{item.time}} {{item.unit}}
          </div>
  
            <div>
              <p-dropdown [options]="profileItemsDropdown$.value"                       
                        optionLabel="fullTime"
                        placeholder="Длительность урока"
                        [(ngModel)]="selectedDuration"
                        formControlName="selectedDuration">
              </p-dropdown>
  
              <p-button 
                  label="Добавить" 
                  styleClass="p-button-link"
                  (click)="addMentorDurations()">
            </p-button>
            </div>
        </div>

        <div *ngIf="!isEdit">
          <div *ngFor="let item of profileWorksheet$.value.mentorDurations">
            <div>
              {{item.time}} {{item.unit}}
            </div>
          </div>

          <p-button 
              label="Изменить" 
              styleClass="p-button-link">
          </p-button>
        </div>  
      </div>
    </div>

    <!-- Блок целей подготовки. -->
    <div class="pt-20-pb-20 mt-20 block-user-info">
      <div class="profile-title">
        <label>Цель подготовки</label>
      </div>

      <div class="block-purposes" *ngIf="isEdit">
        <div class="purpose" *ngFor="let item of profilePurposeDropdown$.value">
          <div (click)="onSelectPurposes(item.purposeName)">
            {{item.purposeName}}
          </div>
        </div>  
      </div>   

      <div class="block-purposes" *ngIf="!isEdit">
        <div class="purpose" *ngFor="let item of profileWorksheet$.value.mentorTrainings">
          <div (click)="onSelectPurposes(item.purposeName)">
            {{item.purposeName}}
          </div>
        </div> 
      </div>  

      <div>
        <p-button 
            label="Изменить" 
            styleClass="p-button-link">
        </p-button>
      </div>
    </div>

    <!-- Блок свободного времени. -->
    <div class="pt-20-pb-20 mt-20 block-user-info d-flex block-profile-dropdowns">
      <div class="col-lg-12 d-flex">
       <div *ngIf="isEdit">
        <div class="profile-title">
          <label>Свободные дни</label>
        </div>

        <!-- Свободные дни. -->
        <div class="" *ngFor="let item of displayMentorTimes">
          {{item.day}} с {{item.timeStart}} по {{item.timeEnd}}
        </div>

          <div>
              <p-dropdown [options]="profileDaysWeek$.value"
                          [(ngModel)]="selectedMentorDayWeek"
                          optionLabel="dayName"                          
                          placeholder="День недели"
                          formControlName="dayWeekName">
              </p-dropdown>
          
            <div>
              <p-button 
                  label="Добавить дату и время" 
                  styleClass="p-button-link"
                  (click)="addMentorDayTimes()">
              </p-button>
            </div>
          </div>
       </div>

       <div *ngIf="!isEdit">
        <div class="profile-title">
          <label>Свободные дни</label>
        </div>

        <!-- Свободные дни. -->
        <!-- <div class="" *ngFor="let item of displayMentorTimes">
          {{item.day}} с {{item.timeStart}} по {{item.timeEnd}}
        </div> -->

          <div>
              <!-- <p-dropdown [options]="profileDaysWeek$.value"
                          [(ngModel)]="selectedMentorDayWeek"
                          optionLabel="dayName"                          
                          placeholder="День недели"
                          formControlName="dayWeekName">
              </p-dropdown> mentorTimes-->
              <div *ngFor="let item of profileWorksheet$.value.mentorTimes">
                {{item.day}} 
              </div>
          
            <div>
              <p-button 
                  label="Изменить" 
                  styleClass="p-button-link">
              </p-button>
            </div>
          </div>
       </div>

         <div>
          <div class="profile-title">
            <label>Свободное время</label>
          </div>

          <!-- Свободные дни. с {{item.timeStart}} по {{item.timeEnd}}-->
        <div class="" *ngFor="let item of displayMentorTimes">
          <div>&nbsp;</div>
        </div>
  
            <div>
              <!-- c <input type="time" 
              [(ngModel)]="selectedMentorTimeStart"
              formControlName="mentorTimeStart"> -->

              <div *ngFor="let item of profileWorksheet$.value.mentorTimes">
                с {{item.timeStart}} по {{item.timeEnd}} 
              </div>

              <!-- по <input type="time" 
              [(ngModel)]="selectedMentorTimeEnd"
              formControlName="mentorTimeEnd"> -->
            </div>
         </div>
      </div>    
    </div>

    <!-- Блок о себе. -->
    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="isEdit">
      <div class="profile-title">
        <label>О себе</label>
      </div>
      
      <div>
        <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="aboutInfo"
            [(ngModel)]="aboutInfo">
      </textarea>
      </div>

      <div>
        <p-button 
            label="Добавить" 
            styleClass="p-button-link"
            (click)="addMentorAboutInfo()">
        </p-button>
      </div>
    </div>

    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="!isEdit">
      <div class="profile-title">
        <label>О себе</label>
      </div>
      
      <div>
        <!-- <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="aboutInfo"
            [(ngModel)]="aboutInfo">
      </textarea> -->

      <div *ngFor="let item of profileWorksheet$.value.mentorAboutInfo">
        {{item.aboutInfoText}}
      </div>
      </div>

      <div>
        <p-button 
            label="Изменить" 
            styleClass="p-button-link">
        </p-button>
      </div>
    </div>

    <!-- Блок с образованием. -->
    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="isEdit">
      <div class="profile-title">
        <label>Образование</label>
      </div>
      
      <div>
        <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="education"
            [(ngModel)]="education">
      </textarea>
      </div>

      <div>
        <p-button 
            label="Добавить" 
            styleClass="p-button-link"
            (click)="addMentorEducation()">
        </p-button>
      </div>
    </div>

    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="!isEdit">
      <div class="profile-title">
        <label>Образование</label>
      </div>
      
      <div>
        <!-- <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="education"
            [(ngModel)]="education">
      </textarea> -->

      <div *ngFor="let item of profileWorksheet$.value.mentorEducations">
        {{item.educationText}}
      </div>

      <div>

      </div>
      </div>

      <div>
        <p-button 
            label="Изменить" 
            styleClass="p-button-link">
        </p-button>
      </div>
    </div>

    <!-- Блок с опытом. -->
    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="isEdit">
      <div class="profile-title">
        <label>Опыт</label>
      </div>
      
      <div>
        <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="experience"
            [(ngModel)]="experience">
      </textarea>
      </div>

      <div>
        <p-button 
            label="Добавить" 
            styleClass="p-button-link"
            (click)="addMentorExperience()">
        </p-button>
      </div>
    </div>

    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="!isEdit">
      <div class="profile-title">
        <label>Опыт</label>
      </div>
      
      <div>
        <!-- <textarea 
            rows="5" 
            cols="100" 
            pInputTextarea 
            [autoResize]="true"
            formControlName="experience"
            [(ngModel)]="experience">
      </textarea> -->
      
      <div *ngFor="let item of profileWorksheet$.value.mentorExperience">
        {{item.experienceText}}
      </div>
      </div>

      <div>
        <p-button 
            label="Изменить" 
            styleClass="p-button-link">
        </p-button>
      </div>
    </div>

    <!-- Блок с сертификатами. -->
    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="isEdit">
      <div class="profile-title">
        <label>Сертификаты</label>
      </div>
      
      <div>        
        <!-- <p-image src="../../../../../assets/images/profile/nophoto.svg" alt="Image" width="250" [preview]="true"></p-image> -->

        <!-- Список сертификатов. -->
        <div class="block-cert-files">
          <div *ngFor="let item of certsFiles">
            <div class="cert-file">
              <p-image 
                  [src]="item" 
                  alt="Image" 
                  width="170" 
                  [preview]="true">
              </p-image>
            </div>
          </div>
        </div>       

        <p-fileUpload 
            mode="basic" 
            name="demo[]" 
            accept="image/*" 
            chooseLabel="Загрузить" 
            class="profile-photo" 
            styleClass="p-button-link"
            formControlName="certs"
            [multiple]="true"
            (onSelect)="onUploadCerts($event)">
        </p-fileUpload>
      </div>
    </div>

    <div class="pt-20-pb-20 mt-20 block-user-info" *ngIf="!isEdit">
      <div class="profile-title">
        <label>Сертификаты</label>
      </div>
      
      <div>        
        <!-- <p-image src="../../../../../assets/images/profile/nophoto.svg" alt="Image" width="250" [preview]="true"></p-image> -->

        <!-- Список сертификатов. -->
        <div class="block-cert-files">
          <div *ngFor="let item of certsFiles">
            <div class="cert-file">
              <p-image 
                  [src]="item" 
                  alt="Image" 
                  width="170" 
                  [preview]="true">
              </p-image>
            </div>
          </div>
        </div>       

        <!-- <p-fileUpload 
            mode="basic" 
            name="demo[]" 
            accept="image/*" 
            chooseLabel="Загрузить" 
            class="profile-photo" 
            styleClass="p-button-link"
            formControlName="certs"
            [multiple]="true"
            (onSelect)="onUploadCerts($event)">
        </p-fileUpload> -->

        <div>
          <p-button 
              label="Изменить" 
              styleClass="p-button-link">
          </p-button>
        </div>
      </div>
    </div>

    <button 
        class="btn-save"
        (click)="onSaveProfileUserInfoAsync()">
      Сохранить
    </button>
  </form>
</div>