<div class="col-lg-12 d-flex">
  <div class="col-lg-4">
    <profile-menu></profile-menu>
  </div>

  <div class="col-lg-8 text-pre-line">
    <!-- Блок информации о пользователе. -->
    <div class="block-user-info d-flex">
      <div class="col-lg-4">
        <p-fileUpload #fubauto mode="basic" name="demo[]" accept="image/*" chooseLabel="Загрузить фото">
        </p-fileUpload>
      </div>

      <div class="col-lg-4">      
        <div>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">ФИО</label>
            </span>
        </div>
      </div>

      <div class="col-lg-4">
        <div>
            <p-dropdown [options]="profileItems$.value" 
                        [(ngModel)]="selectedItem" 
                        optionLabel="itemName"
                        optionValue="itemSysName"
                        placeholder="Выберите предмет">
            </p-dropdown>
        </div>
      </div>
    </div>

    <!-- Блок с контактами. -->
    <div class="block-contacts d-flex">
        <div class="col-lg-4">
            <p-checkbox [(ngModel)]="checkedContact" [binary]="true" inputId="binary"></p-checkbox>
            <label for="binary" class="visible-all">Виден всем</label>
        </div>

        <div class="col-lg-4">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Номер телефона:</label>
            </span>
        </div>

        <div class="col-lg-4">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Email:</label>
            </span>
        </div>        
    </div>
  </div>
</div>