<form class="col-lg-6 offset-lg-3 form-signup">
    <!-- <img src="../../../../../assets/images/fonsig_3502.svg"> -->
  <div class="row justify-content-center">
    <p class="text-center title-pur">Создайте аккаунт</p>

    <div class="form-reg">
      <div>
        <label>Ваше ФИО</label>
        <br>
        <input class="input-pur-form" type="text" placeholder="Ваше ФИО">
      </div>

      <div>
        <label>E-mail или телефон</label>
        <br>
        <input class="input-pur-form" type="text" placeholder="Ваш e-mail или номер телефона">
      </div>

      <div>
        <label>Выбрать роль</label>
        <br>
        <input class="input-pur-form" type="text" placeholder="Преподаватель/ ученик / партнер">
      </div>

      <div>
        <label>Пароль</label>
        <br>
        <input class="input-pur-form" type="text" placeholder="Придумайте пароль">
      </div>

      <span class="input-group-btn">
        <button class="button-action-pur-form">Создать</button>
      </span>
    </div>
  </div>
</form>