<img class="main-fon" src="../../../../../assets/images/main-page/First.jpg">

<form class="col-lg-6 offset-lg-3 form-signup">
  <div class="row justify-content-center">
    <p class="text-center title-pur">Создайте аккаунт</p>

    <div>
      <div class="item-pur-form">
        <input class="input-pur-form" type="text" placeholder="Введите ФИО" name="fio" [(ngModel)]="firstName">
      </div>

      <div class="item-pur-form">
        <input class="input-pur-form" type="text" placeholder="Ваш e-mail" name="userEmail"
          [(ngModel)]="userEmail">
      </div>

      <div class="item-pur-form">
        <input class="input-pur-form" type="text" placeholder="Ваш номер телефона" name="userPhoneNumber"
          [(ngModel)]="userPhoneNumber">
      </div>

      <div class="dropdown-pur-form">
        <p-dropdown [options]="roles$ | async" [(ngModel)]="selectedRole" name="role" optionLabel="roleName"
          placeholder="Выберете роль">
        </p-dropdown>
      </div>

      <div class="dropdown-pur-form block-regulations col-lg-12">
        <p-checkbox 
              name="regulations" 
              [binary]="true" 
              inputId="regulations"
              (onChange)="isAcceptRegulations=!isAcceptRegulations">
        </p-checkbox>
        
        <label for="regulations" class="regulations-text">
          Я подтверждаю согласие на обработку персональных данных в соответствии с <strong>Политикой конфиденциальности,
            ознакомился и согласен с Условиями пользовательского соглашения, Оферты Leoka Elementary</strong>
        </label>
      </div>

      <div class="dropdown-pur-form block-regulations col-lg-12">
        <p-checkbox 
            name="news" 
            [binary]="true" 
            inputId="news"
            (onChange)="isNews=!isNews">
        </p-checkbox>

        <label for="news" class="regulations-text">
          Я согласен получать уведомления о новых предложениях <strong>Leoka Elementary</strong>
        </label>
      </div>

      <!-- <div class="item-pur-form">
        <input class="input-pur-form" type="text" placeholder="Придумайте пароль" name="pass"
          [(ngModel)]="userPassword">
      </div> -->

      <span class="input-group-btn">
        <button 
            class="button-action-pur-form" 
            [disabled]="!isAcceptRegulations"
            (click)="onSignUpAsync()">
          Создать
        </button>
      </span>
    </div>
  </div>
</form>