<div class="block-fon">
  <img class="start-fon" src="../../../../../assets/images/main-page/Ellipse 2170.svg">
</div>

<!-- Блок фона. -->
<div class="main-block">
  <div class="main-block-title">{{mainMentor$.value.fonTitle}}</div>
    <div class="main-block-subtitle">{{mainMentor$.value.fonSubTitle}}</div>
  
    <!-- <ul class="main-items" *ngFor="let item of mainMentor$.value.mainMentorItems">
      <li class="main-item">{{item.fonSubTitleTextFirst}}</li>
    </ul> -->
</div>

<!-- Блок записи на урок. -->
<div class="block-reception col-xxl-12 col-xl-12 col-lg-12 col-md-12">
  <div class="recetion-title">
    {{reception$.value.writeReceptionText}}
  </div>

  <button class="button-action-reception">
    {{reception$.value.writeReceptionButtonText}}
  </button>
</div>

<!-- Блок с чего начать. -->
<div class="block-begin">
  <div class="begin-title">
    {{begin$.value.whereBeginTitle}}
  </div>

  <div class="begin-subtitle">
    {{begin$.value.whereBeginSubTitle}}
  </div>

  <div class="begin-items">
    <div class="begin-item" *ngFor="let item of begin$.value.whereBeginItems">
      <div class="img-item">
        <img [src]="item.beginUrlIcon" alt="">
      </div>

      <div class="title-item">
        {{item.beginTitle}}
      </div>

      <div class="subtitle-item">
        {{item.beginSubTitle}}
      </div>
    </div>
  </div>
</div>

<!-- Блок умного класса. -->
<div class="block-smart-class col-lg-12">
  <div class="smart-title">
    {{smartClass$.value.smartClassTitle}}
  </div>

  <div class="block-smart-subtitle">
    <div class="smart-subtitle">
      {{smartClass$.value.smartClassSubTitle}}
    </div>
  </div>

  <div class="smart-items d-flex">
    <div class="col-lg-6 card card-first">
      <ul class="smart-item" *ngFor="let item of smartClass$.value.smartClassStudentItems">
        <li>
          <div class="smart-item-title">
            {{item.smartItemTitle}}
          </div>

          <div class="smart-item-subtitle">
            {{item.smartItemSubTitle}}
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-6 card card-second">
      Вставим изображение, когда внедрим интеграцию видео-связи.
    </div>
  </div>
</div>

<!-- Блок с подписками. -->
<div class="subscriptions">

</div>

<!-- Блок записи на урок. -->
<div class="block-reception col-xxl-12 col-xl-12 col-lg-12 col-md-12">
  <div class="recetion-title">
    {{reception$.value.writeReceptionText}}
  </div>

  <button class="button-action-reception">
    {{reception$.value.writeReceptionButtonText}}
  </button>
</div>

<!-- Блок с заявкой. -->
<div class="block-request">
  <div class="left-block">
    <div class="request-title">
      {{request$.value.requestTitle}}
    </div>

    <div class="request-subtitle">
      {{request$.value.requestSubTitle}}
    </div>
  </div>

  <div class="rigth-block">
    <form class="request-form" [formGroup]="requestForm" novalidate>
      <div class="request-first-line-item">
        <div class="form-group">
          <input class="form-control input-request" name="requestFirstName" formControlName="requestFirstName"
            placeholder="{{request$.value.requestFirstName}}" />

          <!-- <div class="alert alert-danger"
            *ngIf="requestForm.controls['requestFirstName'].invalid && requestForm.controls['requestFirstName'].touched">
            Не указано имя
          </div> -->
        </div>

        <div class="form-group">
          <input class="form-control input-request" name="requestLastName" formControlName="requestLastName"
            placeholder="{{request$.value.requestLastName}}" />

          <!-- <div class="alert alert-danger"
            *ngIf="requestForm.controls['requestLastName'].invalid && requestForm.controls['requestLastName'].touched">
            Не указана фамилия
          </div> -->
        </div>
      </div>

      <div class="request-second-line-item">
        <div class="form-group">
          <input class="form-control input-request" name="requestEmail" formControlName="requestEmail"
            placeholder="{{request$.value.requestEmail}}" />

          <!-- <div class="alert alert-danger"
            *ngIf="requestForm.controls['requestFirstName'].invalid && requestForm.controls['requestFirstName'].touched">
            Не указано имя
          </div> -->
        </div>

        <div class="form-group">
          <input class="form-control input-request" name="requestPhoneNumber" formControlName="requestPhoneNumber"
            placeholder="{{request$.value.requestPhoneNumber}}" />

          <!-- <div class="alert alert-danger"
            *ngIf="requestForm.controls['requestLastName'].invalid && requestForm.controls['requestLastName'].touched">
            Не указана фамилия
          </div> -->
        </div>
      </div>

      <div class="request-second-line-item">
        <div class="form-group">
          <textarea class="form-control input-request input-message" name="requestMessage" formControlName="requestMessage"
          placeholder="{{request$.value.requestMessage}}">
            
          </textarea>
        </div>
      </div>

      <div class="form-group">
          <button class="button-request" [disabled]="requestForm.invalid" (click)="onCreateRequest()">
            {{request$.value.requestButtonText}}
          </button>
      </div>
  </form>
  </div>
</div>