<!-- <p-toast [style]="{ marginTop: '80px' }"></p-toast> -->

<ngx-loading [show]="loading$.value"></ngx-loading>

<header></header>
<knowledge-lk class="d-flex" *ngIf="currentRoute === '/profile/welcome' 
                    || currentRoute === '/profile/form?mode=view'
                    || currentRoute === '/profile/form?mode=edit'"></knowledge-lk>

<main class="app-container">
  <router-outlet></router-outlet>
</main>

<footer [hidden]="currentRoute === '/user/signup' 
                || currentRoute === '/user/signin'
                || currentRoute === '/profile/welcome'
                || currentRoute === '/profile/form?mode=view'
                || currentRoute === '/profile/form?mode=edit'">
</footer>
