@use "/src/styles/common.scss";
@use "/src/styles/control.scss";

.start-fon {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.main-block {
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 216px;
  left: 112px;
  top: 184px;

  .main-block-title {
    color: #4C1D95;
    font-family: 'Gilroy-Bold';
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.005em;
  }

  .main-block-subtitle {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    margin: 37px 0px 0px 0;
    color: #7C3AED;
  }

  .main-items {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #4C1D95;
    margin: 30px 0px;
  }
}

.block-reception {
  background: #7C3AED;
  margin: 0px 0px;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;

  .recetion-title {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin: 0px 30px;
  }

  .button-action-reception {
    width: 210px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #7C3AED;
    border-radius: 8px;
    margin: 0px 30px;
    color: #7C3AED;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 21px;
  }
}

.block-begin {
  .begin-title {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #4C1D95;
    margin-top: 66px;
  }

  .begin-subtitle {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #4C1D95;
    flex: none;
    order: 1;
    align-self: stretch;
  }

  .begin-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 64px 0px;
  }

  .begin-item {
    width: 384px;
    height: 194px;

    .title-item {
      color: #4C1D95;
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 36px;
      margin: 8px 0px;
      text-align: center;
    }

    .subtitle-item {
      white-space: pre-line;
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.44px;
      color: #4C1D95;
      margin: 8px 0px;
    }

    .img-item {
      line-height: 36px;
      margin: 8px 0px;
      text-align: center;
    }
  }
}