<div>
    <img class="start-fon" src="../../../../../assets/images/main-page/First.jpg">
</div>  

<div class="main-block">
    <div class="main-block-title">{{mainFon$.value.fonTitle}}</div>
    <div class="main-block-subtitle">{{mainFon$.value.fonSubTitle}}</div>

    <ul class="main-items" *ngFor="let item of mainFon$.value.mainFonStudentItems">
        <li class="main-item">{{item.fonSubTitleText}}</li>
    </ul>
</div>

<div class="block-reception col-xxl-12 col-xl-12 col-lg-12 col-md-12">
    <div class="recetion-title">
        {{reception$.value.writeReceptionText}}
    </div>

    <button class="button-action-reception">
        {{reception$.value.writeReceptionButtonText}}
    </button>
</div>
