@use "/src/styles/common.scss";
@use "/src/styles/control.scss";

@mixin mentorAndStudentBlockSubTitle {
  font-family: 'Gilroy-Regular';
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: #4C1D95;
  white-space: pre-line;
}

@mixin platformCards {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  border-radius: 8px;
  width: 592px;
  height: 522px;
  margin-top: 100px;
  padding: 50px 50px 60px;
  margin: 0 32px;
  
}

.start-fon {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.main-block {
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 216px;
  left: 112px;
  top: 184px;

  .main-block-title {
    color: #4C1D95;
    font-family: 'Gilroy-Bold';
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.005em;
  }

  .main-block-subtitle {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    margin: 37px 0px 0px 0;
    color: #7C3AED;
  }

  .main-items {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    color: #4C1D95;
    margin: 30px 0px;
  }
}

.block-reception {
  background: #7C3AED;
  margin: 0px 0px;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;

  .recetion-title {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin: 0px 30px;
  }

  .button-action-reception {
    width: 210px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #7C3AED;
    border-radius: 8px;
    margin: 0px 30px;
    color: #7C3AED;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 21px;
  }
}

.block-begin {
  .begin-title {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #4C1D95;
    margin-top: 66px;
  }

  .begin-subtitle {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #4C1D95;
    flex: none;
    order: 1;
    align-self: stretch;
  }

  .begin-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 64px 0px;
  }

  .begin-item {
    width: 384px;
    height: 194px;

    .title-item {
      color: #4C1D95;
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 36px;
      margin: 8px 0px;
      text-align: center;
    }

    .subtitle-item {
      white-space: pre-line;
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.44px;
      color: #4C1D95;
      margin: 8px 0px;
    }

    .img-item {
      line-height: 36px;
      margin: 8px 0px;
      text-align: center;
    }
  }
}

.block-smart-class {
  background: #F4F9FD;

  .smart-title {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #4C1D95;
    margin: 8px 0px;
    padding-top: 66px;
  }

  .block-smart-subtitle {
    display: flex;
    justify-content: center;
  }

  .smart-subtitle {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #4C1D95;
    margin: 8px 0px;
    white-space: pre-line;
    width: 800px;
  }

  .smart-items {
    .card {
      background: #FFFFFF;
      box-shadow: 0px 4px 40px rgba(90, 90, 137, 0.25);
      border-radius: 20px 0px 0px 20px;
      margin: 0 32px 0 0;
      padding: 38px 58px;
      margin-top: 50px;
      width: 588px
    }

    .card-first {
      margin-left: 116px;
    }

    .card-second {
      margin-right: 116px;
    }

    .smart-item {
      .smart-item-title {
        font-family: 'Gilroy-Bold';
        font-size: 24px;
        line-height: 36px;
        color: #4C1D95;
      }

      .smart-item-subtitle {
        font-family: 'Gilroy-Regular';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: #4C1D95;
        margin-left: 42px;
        margin-top: 5px;
        white-space: pre-line;
        width: 405px;
      }
    }
  }
}

.block-questions {
  background: linear-gradient(180deg, rgba(241, 246, 252, 0.64) 1.19%, rgba(199, 208, 255, 0.64) 100%);

  .best-title {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #4C1D95;
    padding-top: 90px;
  }

  .best-subtitle {
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #4C1D95;
    margin-bottom: 50px;
  }

  .questions-items {
    padding: 10px 10px 22px 30px;

    .question-item {
      margin-left: 320px;
      padding: 10px 10px 22px 30px;
      width: 795px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 4px 40px rgba(109, 141, 173, 0.25);
      border-radius: 20px;
      margin-bottom: 15px;

      .item-title {
        font-family: 'Gilroy-Bold';
        font-size: 24px;
        line-height: 36px;
        color: #4C1D95;
        margin: 18px 0px;
      }

      .item-variants {
        display: flex;
        flex-wrap: wrap;

        .item-variant {
          background: #FFFFFF;
          border: 1px solid #D5EAF0;
          box-sizing: border-box;
          border-radius: 16px;
          margin: 0px 18px 18px 0px;
          padding: 20px;
        }
      }
    }

    .button-action-find-mentor {
      background: #7C3AED;
      border-radius: 8px;
      margin: 50px 0px;
      width: 278px;
      height: 50px;
      font-family: 'Gilroy-Bold';
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      border: none;
      margin-left: 320px;
    }
  }
}

.block-about {
  background: linear-gradient(180deg, #D5FAFC 0%, #F4F9FD 100%);
  padding-bottom: 150px;

  .about-title {
    font-family: 'Gilroy-Bold';
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #4C1D95;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 216px;
    padding-top: 159px;
  }

  .about-subtitle {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #4C1D95;
    margin-left: 216px;
  }

  .block-student {
    @include platformCards();

    margin-top: 100px;

    .student-title {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 36px;
      color: #4C1D95;
    }

    .student-subtitle {
      @include mentorAndStudentBlockSubTitle();
    }
  }

  .block-mentor {
    @include platformCards();

    .mentor-title {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 36px;
      color: #4C1D95;
    }

    .mentor-subtitle {
      @include mentorAndStudentBlockSubTitle();
    }
  }

  .block-platform-cards {
    display: flex;
    justify-content: center;
  }
}

.block-request {
  background: #F4F9FD;
  box-shadow: 0px 4px 40px rgba(90, 90, 137, 0.25);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .left-block {
    width: 416px;
    height: 502px;
    margin-left: 112px;
    background: #7C3AED;
    box-shadow: 0px 4px 40px rgba(90, 90, 137, 0.25);
    border-radius: 20px 0px 0px 20px;
    padding: 59px;

    .request-title {
      font-family: 'Gilroy-Bold';
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -0.025em;
      color: #FFFFFF;
    }

    .request-subtitle {
      font-family: 'Gilroy-Regular';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.44px;
      color: #FFFFFF;
      margin-top: 30px;
    }
  }

  .rigth-block {
    width: 800px;
    height: 502px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(90, 90, 137, 0.25);
    border-radius: 0px 20px 20px 0px;
  }
}

.request-form {
  .request-first-line-item {
    display: flex;
    justify-content: center;
  }

  .request-second-line-item {
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }

  .request-last-line-item {
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }
}

.block-mentor {
  background: #1DB5BE;
  width: 100%;
  height: 415px;
  overflow: hidden;

  .mentor-items {
    margin-left: 112px;
    margin-top: 51px;

    .mentor-title {
      font-family: 'Gilroy-Bold';
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -0.025em;
      color: #FFFFFF;
      white-space: pre-line;
    }
  
    .mentor-subtitle {
      font-family: 'Gilroy-Bold';
      font-size: 24px;
      line-height: 36px;
      color: #FFFFFF;
      margin-top: 24px;
      white-space: pre-line;
    }
  }
}